@import "~typeface-open-sans/index.css";

body {
  margin: 0;
  font-family: Open Sans, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #3e3e3e;
}

html {
  scroll-behavior: smooth;
}
button {
  font-family: Open Sans, sans-serif !important;
  font-size: 15px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

li,
.k-pdf-export li {
  list-style: lower-roman;
}
