@import "~typeface-open-sans/index.css";

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Open Sans, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #3e3e3e;
}

html {
  scroll-behavior: smooth;
}
button {
  font-family: Open Sans, sans-serif !important;
  font-size: 15px;
}
