@import "~typeface-open-sans/index.css";

body {
  margin: 0;
  font-family: Open Sans, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #3e3e3e;
  overflow-y: overlay;
}

html {
  scroll-behavior: smooth;
}
button {
  font-family: Open Sans, sans-serif !important;
  font-size: 15px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

li,
.k-pdf-export ul {
  padding-inline-start: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1671ee;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1671ee;
}
